@model Domain.Entities.Salary
@{
    string a = Model.DatePaid.ToString("yyyy-MM-dd");
}
<div class="row">
     <input value="@Model.Id" id="updateid" hidden type="text" name="id" class="form-control" placeholder="نام">
    <div class="col-lg-12 col-md-12">
        <div class="form-group">
            <label>لطفا کارمند را جستجو و انتخاب نمایید:</label>
            <select name="employeeId" id="updateSalaryEmloyeeId">
                <option selected value="@Model.Employee.Id">@Model.Employee.FirstName @Model.Employee.LastName</option>
            </select>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label>سال</label>
            <select name="year" id="updateSalaryYear" class="form-select">
                <!option @(Model.Year == 1400 ? "selected" : "") value="1400">1400</!option>
                <!option @(Model.Year == 1401 ? "selected" : "") value="1401">1401</!option>
                <!option @(Model.Year == 1402 ? "selected" : "") value="1402">1402</!option>
                <!option @(Model.Year == 1403 ? "selected" : "") value="1403">1403</!option>
                <!option @(Model.Year == 1404 ? "selected" : "") value="1404">1404</!option>
                <!option @(Model.Year == 1405 ? "selected" : "") value="1405">1405</!option>
                <!option @(Model.Year == 1406 ? "selected" : "") value="1406">1406</!option>
                <!option @(Model.Year == 1407 ? "selected" : "") value="1407">1407</!option>
                <!option @(Model.Year == 1408 ? "selected" : "") value="1408">1408</!option>
                <!option @(Model.Year == 1409 ? "selected" : "") value="1409">1409</!option>
                <!option @(Model.Year == 1410 ? "selected" : "") value="1410">1410</!option>
                <!option @(Model.Year == 1411 ? "selected" : "") value="1411">1411</!option>
                <!option @(Model.Year == 1412 ? "selected" : "") value="1412">1412</!option>
                <!option @(Model.Year == 1413 ? "selected" : "") value="1413">1413</!option>
                <!option @(Model.Year == 1414 ? "selected" : "") value="1414">1414</!option>
                <!option @(Model.Year == 1415 ? "selected" : "") value="1415">1415</!option>
            </select>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label>ماه</label>
            <select name="month" id="updateSalaryMonth" class="form-select">
                <!option @(Model.Month.Equals("Hamal") ? "selected" : "") value="1">حمل</!option>
                <!option @(Model.Month.Equals("Sawr") ? "selected" : "") value="2">ثور</!option>
                <!option @(Model.Month.Equals("Jawza") ? "selected" : "") value="3">جوزا</!option>
                <!option @(Model.Month.Equals("Saratan") ? "selected" : "") value="4">سرطان</!option>
                <!option @(Model.Month.Equals("Asad") ? "selected" : "") value="5">اسد</!option>
                <!option @(Model.Month.Equals("Sunbula") ? "selected" : "") value="6">سنبله</!option>
                <!option @(Model.Month.Equals("Mizan") ? "selected" : "") value="7">میزان</!option>
                <!option @(Model.Month.Equals("Aqrab") ? "selected" : "") value="8">عقرب</!option>
                <!option @(Model.Month.Equals("Qaws") ? "selected" : "") value="9">قوس</!option>
                <!option @(Model.Month.Equals("Jadi") ? "selected" : "") value="10">جدی</!option>
                <!option @(Model.Month.Equals("Dalwa") ? "selected" : "") value="11">دلو</!option>
                <!option @(Model.Month.Equals("Hoot") ? "selected" : "") value="12">حوت</!option>
            </select>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label>مقدار</label>
            <input required id="updateAmountSalary" value="@Model.Amount" type="number" min="0" name="amount" class="form-control" placeholder="مقدار">
            <div class="valid-feedback">پر شد</div>
            <div class="invalid-feedback">مقدار نمیتواند خالی باشد!</div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label>تاریخ پرداخت</label>
            <input id="updateSalaryDate" value="@a" type="date" name="datePaid" class="form-control" placeholder="تاریخ پرداخت" required>
            <div class="valid-feedback">پر شد</div>
            <div class="invalid-feedback">تاریخ پرداخت نمیتواند خالی باشد!</div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="form-group">
            <label>توضیحات</label>
            <input id="updateDescSalary" value="@Model.Remarks" type="text" name="remarks" class="form-control" placeholder="توضیحات">
        </div>
    </div>
</div>